.App {
  text-align: center;
}

.left {
  width: 20%;
  margin-left: 3%;
  margin-right: 3%;
  float: left;
}

.left_container {
  word-wrap: break-word;
}

.center {
  width: 50%;
  margin: auto;
  float: left;
}

.right {
  width: 20%;
  margin: 0px;
  float: left;
}

.currentValue {
  width: 80%;
  height: 150px;
  float: left;
  color: rgb(11, 184, 172);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 25%;

  font-size: 75px;
}
.NextNum {
  width: 80%;
  height: 150px;
  margin-top: 10%;
  float: left;
  font-size: 30px;
  background-color: blanchedalmond;
}
